<br>
<h2 class="ui center aligned icon header">
  <img src="http://www.ascheri.co.uk/wp-content/uploads/sites/22/2019/01/AP-Logo_LastVersion_initials-150x-2.png" class="ui image"><br><br>
  Chatroom
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra fluid content">
        <%= form_for(@message, html: {class: 'ui reply form', role: 'form'},  url: message_path, remote: true) do |f| %>
          <div class="field ">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder:"Enter a message" %>
              <%= f.button '<i class="bordered inverted blue icon edit"></i>'.html_safe %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical pointing menu fluid">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
